body{
	margin-top: 0; margin-left: 0; margin-bottom: 0; margin-right: 0;
	font-family: Arial,Helvetica,sans-serif;
}


#wrapper{
	width: 1024px;
	margin: auto;
}


#header{
	width: 100%;
	float:left;
	padding-bottom: 10px;
	background-color: #FFFFFF;border-color: #FFFFFF;
	
}
#lineaHeader{float:left;width:100%;height: 10px;background-color: #FFFFFF;padding-top:0px; margin-top: 10px}

#colLeft{
	width: 200px;
	margin: 0;
	float:left;
}
#Contenido{
	width: 620px;
	margin: 0;
	float:left;
	border:solid 1px red;
}

#colRigth{
	width: 200px;
	margin: 0;
	float:right;
}


.degradado1 {
    height: 1000px;
    background-color: #9844BD;
    background-image: -moz-linear-gradient(100% 100% 90deg, #DB42AE, #9844BD) !important;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9844BD), to(#DB42AE)) !important;
   
}

.curvedBottom {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius:  0 0 5px 5px;
    behavior:url(border-radius.htc);
}
.curvedTop {
    -moz-border-radius: 5px 5px 0px 00px;
    -webkit-border-radius:  5px 5px 0px 00px;;
    behavior:url(border-radius.htc);
}

.curvedBottom10px {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius:  0 0 10px 10px;
    behavior:url(border-radius.htc);
}
.curvedTop10px {
    -moz-border-radius: 10px 10px 0px 00px;
    -webkit-border-radius:  10px 10px 0px 00px;;
    behavior:url(border-radius.htc);
}


